body {
  background-color: #5a7aad; }

button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -52px;
  margin-left: -227px; }

img {
  border: solid 2.5px white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -600px; }
